/* Reduce the font size in data frames - See https://github.com/scverse/cookiecutter-scverse/issues/193 */
div.cell_output table.dataframe {
    font-size: 0.8em;
}

/* Adjust the logo to fit within the sidebar */
.sidebar-logo {
    max-width: 120%; /* Use percentage to ensure it stays within sidebar */
    height: auto;
    margin: 0 auto;
    display: block;
    padding: 0px;
}
